

:root {
 --primary-text-color:#757575;
--bg-color:#ffffff;
--title-text-color:#212121;
--accent-color:#2196F3;
--button-color:#ffffff;

}

body
{
background-color: var(--bg-color);
color: var(--primary-text-color);
}

/* Временно дял красоты */
body a {

    text-decoration: none;   
}

.logo {

   color: var(--title-text-color); 
}
.logo-color {

color:var(--accent-color); 

}
.menu-link a {

 color: var(--title-text-color);
}
.menu-link a:hover, .menu-link a:focus {
color: var(--accent-color);

}
.contact-link a {
color: var(--primary-text-color);

}
.contact-link a:hover, contact-link a:focus {
color:var(--accent-color);
}
.contact-text {
    color:#ffffff;  
}

h1 {
    color:#ffffff;
}
h2,h3 {

  color: var(--title-text-color);
}
h4 {
    color:#ffffff;  
}

.button {
color:var(--button-color);
background-color: var(--accent-color);

}

.project p {

color: var(--primary-text-color);
}
.menu-filter button {
background-color: #F5F4FA;
color:#212121;

}
 .menu-filter button:hover, .menu-filter button:focus
 
{
background-color: var(--accent-color);
color: var(--button-color);

}
.project .description {
    color:#ffffff;
}

.logo-footer {
color: #ffffff;
}
